body {
  background: linen;
}

.canvas-and-buttons, .intro {
  text-align: center;
}

canvas {
  background: #8ED6FF;
}

button {
  background: #8ED6FF;
  color: black;
  width: 100px;
  height: 30px;
  font-size: medium;
  outline: none;
  margin: 20px;
  margin-top: 0px;
}

button:hover {
  cursor: pointer
}
